/* Color Scheme:
    #fffefc background - body
    #871277 dark purple - text headings
    #7fcbc5 light teal - footer
    #00a79d dark teal - border colors
*/

/* General Styles */
body {
    background-color: #fffefc;
    font-family: 'Sanchez', serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
h1 span {
    font-family: 'Oleo Script Swash Caps', cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'McLaren', cursive;
    width: 100%;
}
.section-header {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 36px;
    color: #871277;
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#lower-page-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #fffefc;
    border-bottom: 2px solid #7fcbc5;
    box-shadow: 0 3px 3px rgba(128,128,128,0.7);
    z-index: 99;
}
#navbar ul {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 25px;
    list-style-type: none;
}
#navbar ul li {
    display: flex;
    justify-content: flex-end;
    padding-left: 25px;
    color: #871277;
    font-weight: bold;
    font-size: 18px;
}
#navbar ul li a {
    text-decoration: none;
    color: #871277;
}
#navbar ul li a:hover {
    color: #00a79d;
    border-bottom: 2px solid #00a79d;
}

/* Welcome Section */
#welcome-section .content-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #7fcbc5;
    border: 1px solid green;
}

/* Projects Section */
.projects-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 500px;
    border: 2px solid #00a79d;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(128,128,128,0.7);
    box-sizing: border-box;
}
.img-padding {
    padding: 15px;
}

/* Contact Section */
#contact {
    width: 100%;
}
#contact .content-wrapper {
    width: 100%;
    background-color: #7fcbc5;
}
#social-icons-wrapper {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 50px;
}
.social-icon img {
    max-width: 75px;
}